services:
  prom-server:
    image: prom/prometheus
    container_name: prom-server
    ports:
      - 9090:9090
    volumes:
          - ./prometheus-config.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - app

  app:
    build: .
    container_name: spring-demo-app
    ports:
      - "8080:8080"

  grafana:
    image: grafana/grafana:9.5.15
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prom-server

  loki:
    image: grafana/loki:2.9.8
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.9.8
    container_name: promtail
    volumes:
      # Promtail confid
      - ./promtail-config.yml:/etc/promtail/config.yml
      # Docker logs (so promtail can read container logs)
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki