services:
  prom-server:
    image: prom/prometheus
    container_name: prom-server
    ports:
      - 9090:9090
    volumes:
          - ./prometheus-config.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - app

  app:
    build: .
    container_name: spring-demo-app
    ports:
      - "8080:8080"

  grafana:
    image: grafana/grafana:9.5.15
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prom-server